<div class="page-header">
  <h1><%= titulo %></h1>

  <div class="page-actions">
    <a href="/curso" class="btn btn-outline-secondary">Voltar</a>
    <a href="/curso/edit/<%= curso.id_cur %>" class="btn btn-primary">Editar</a>
  </div>
</div>

<div class="details-panel">
  <dl class="details-list">
    <dt>ID</dt>
    <dd><%= curso.id_cur %></dd>

    <dt>Nome</dt>
    <dd><%= curso.nome_cur %></dd>

    <dt>Carga Horaria</dt>
    <dd><%= curso.carga_horaria_cur %> h</dd>

    <dt>Departamento</dt>
    <dd><%= curso.departamento?.nome_dep || '-' %></dd>
  </dl>
</div>
